@import url('https://fonts.googleapis.com/css?family=Lato');

h1{
font-family:Lato;
text-align:center;
margin-top:20%;
}

#start{
height:100%;
width:100%;
}

#designed{
text-align:center;
font-family:Lato;
}

#button{
margin-left:43%;
}

#next{
height:100%;
background-color:#ffff99;
}

#mindful{
margin-left:25%;
}

#sounds{
	border-top:3px solid white;
	width:50%;
	height:40%;
	background-color:#ff99cc;
	float:left;
}

#tutorials{
	border-top:3px solid white;
	width:50%;
	height:40%;
	background-color:#9999ff;
	float:left;
}

#journal{
	width:50%;
	height:38%;
	border:10px;
	background-color:#99ff99;
	float:left;
}

#progress{
	width:50%;
	height:50%;
	border:10px;
	background-color:#ccffff;
	float:left;
}

#note{
	margin-left:50px;
	margin-top:20px;
}

#soundtext{
	opacity:0.4;
	font-family:Lato;
	margin-left:40%;
	margin-top:-20%;
	font-size:72px;
	color:black;
}

#stats{
	width:250px;
}

#statstext{
	opacity:0.4;
	font-family:Lato;
	position:absolute;
	margin-left:68%;
	margin-top:-160px;
	font-size:72px;
	color:black;
}

#tips{
	opacity:0.4;
	font-family:Lato;
	position:absolute;
	font-size:72px;
	margin-left:260px;
	margin-top:85px;
	color:white;
}

#journtext{
	opacity:0.4;
	font-family:Lato;
	position:absolute;
	font-size:72px;
	margin-left:150px;
	margin-top:85px;
	color:white;
}


.lato{
	font-family:Lato
}

#entryOne{
	background-color:green;
	width:50px;
}